*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.card-container{
    min-width: 400px !important;
    margin: 0 1rem;
    background-color: rgba(255,255,255,0.1);
    color: greenyellow;
    margin: 1rem;
    padding: 0;
}

.card-container img{
width: 100%;
transition: 0.5s;
}

.card-container img:hover{
scale: 1.1;
}